.task {
  margin-top: 0.75rem;
  background: var(--gray-500);
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  color: var(--gray-100);
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
}

.content {
  flex: 1;
  line-height: 1.4;
}

.content.lineThrough {
  text-decoration-line: line-through;
  color: var(--gray-300);
}

.check {
  cursor: pointer;
  position: relative;
}

.check::before {
  content: '';
  display: inline-block;
  height: 17.45px;
  width: 17.45px;
  border: 2px solid var(--blue);
  border-radius: 50%;
  transition: 0.2s;
}

.check.checkedOff::before {
  content: '';
  border: 2px solid var(--purpleDark);
  background: var(--purpleDark);
}

.icon {
  position: absolute;
  left: 3px;
  top: 2px;
}
