:root {
  --gray-700: #0d0d0d;
  --blue: #4ea8de;
  --purpleDark: #5e60ce;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
